body {
    background-color: #9F838C;
    margin-top: 0.5%;
    margin-left: 100px;
    margin-right: 100px;

}
.selection {
    max-height: 300px;
    max-width: 200px;
}

.flex-container {
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

#mainImage{
    height: 400px; 
    width: 200px;
    margin-left: 43%;
    background-color: #BAABBD;
}

