.heading{
    text-align: center;
    color: #615559;
    background-color: #C97D60;
}

body {
    background-color: #9F838C;
    margin-top: 0.5%;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Six Caps', sans-serif;
    font-size: larger;
    letter-spacing: 5px;
}
.selection {
    max-height: 300px;
    max-width: 200px;
}

.flex-container {
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

#mainImageDisplay{
    height: 400px; 
    width: 200px;
    margin-left: 43%;
    /* background-color: #BAABBD; */
    border-style: groove;
    border-color: #BAABBD;
    border-width: thick;
}

.selection:hover {
    background-color: #BAABBD;
    border-style: outset;
    
}
.selection:active{
    background-color: #C97D60;
    border-style : inset;
}

.image1{
    background-color: rgb(234, 118, 100);
    height: 400px; 
    width: 200px;
}

.image2{
    background-color: rgb(234, 156, 100);
    height: 400px; 
    width: 200px;
}

.image3{
    background-color: rgb(234, 198, 100);
    height: 400px; 
    width: 200px;
}
.image4{
    background-color: rgb(234, 100, 176);
    height: 400px; 
    width: 200px;
}